@import "tailwindcss";
* {
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Exo, Roboto, Times, 'Times New Roman', serif;
}

.dark {
  --background: #171717;
  --foreground: #ededed;
}

